body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Montserrat', sans-serif;

    background-image: url(img/bg3.gif)
}

header {
    width: 80vw;

    padding: 40px;

    background-color: rgba(250, 250, 210, 0.8);
    margin-bottom: 40px;
    border-radius: 1rem;
}